*~
*.moc
*.moc.cc
*.o
*.qrc.cc
*.ui.h
.deps
aclocal.m4
autom4te.cache
buildsys.mk
config.h
config.h.in
config.log
config.status
configure
extra.mk
src/namecoind
src/namecoind.exe
src/namecoin-qt
src/namecoin-qt.exe
