/src/*.exe
*.pyc
/src/namecoin
/src/namecoind
.*.swp
*.*~*
*.o
*.a
.deps
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
src/build-aux
src/cryptopp/.dirstamp
src/namecoin-config.h
src/namecoin-config.h.in
src/stamp-h1
src/test/test_namecoin
