IDI_ICON1 ICON DISCARDABLE "icons/bitcoin.ico"

#include <windows.h>             // needed for VERSIONINFO

#if 0
#include "../../clientversion.h" // holds the needed client version information
#else

#define CLIENT_VERSION_MAJOR 0
#define CLIENT_VERSION_MINOR 3
#define CLIENT_VERSION_REVISION 68
#define CLIENT_VERSION_BUILD 0

// Converts the parameter X to a string after macro replacement on X has been performed.
// Don't merge these into one macro!
#define STRINGIZE(X) DO_STRINGIZE(X)
#define DO_STRINGIZE(X) #X 

#endif

#define VER_PRODUCTVERSION     CLIENT_VERSION_MAJOR,CLIENT_VERSION_MINOR,CLIENT_VERSION_REVISION,CLIENT_VERSION_BUILD
#define VER_PRODUCTVERSION_STR STRINGIZE(CLIENT_VERSION_MAJOR) "." STRINGIZE(CLIENT_VERSION_MINOR) "." STRINGIZE(CLIENT_VERSION_REVISION) "." STRINGIZE(CLIENT_VERSION_BUILD)
#define VER_FILEVERSION        VER_PRODUCTVERSION
#define VER_FILEVERSION_STR    VER_PRODUCTVERSION_STR

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // U.S. English - multilingual (hex)
        BEGIN
            VALUE "CompanyName",        "Namecoin"
            VALUE "FileDescription",    "Namecoin-Qt (OSS GUI client for Namecoin)"
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "InternalName",       "namecoin-qt"
            VALUE "LegalCopyright",     "2009-2013 The Bitcoin and Namecoin developers"
            VALUE "LegalTrademarks1",   "Distributed under the MIT/X11 software license, see the accompanying file COPYING or http://www.opensource.org/licenses/mit-license.php."
            VALUE "OriginalFilename",   "namecoin-qt.exe"
            VALUE "ProductName",        "Namecoin-Qt"
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252 // language neutral - multilingual (decimal)
    END
END
